<section>
  

    <div class="form-box">
      <div class="header">
        <h3>Please Login Account</h3>
        <p style="text-align: center">Conect to your media Account</p>
      </div>
      <div class="form">
        <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate> -->
        <!-- <form [(ngSubmit)="onSubmit()"]> -->
        <form [formGroup]="signinForm" (ngSubmit)="login()">
       
          <div class="media">
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <div class="input-box">
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            <input
              formControlName="email"
              type="email"
              name="email"
              placeholder="Email"
            />
            <!-- [(ngModel)]="email" -->
          </div>
          <div class="input-box">
            <i class="fa fa-key" aria-hidden="true"></i>
            <input
              formControlName="password"
              type="password"
              name="password"
              placeholder="Password"
            />
            <!-- [(ngModel)]="password" -->
          </div>
          <div class="remember">
            <input type="checkbox" class="icon" />
            <label for="">Remember me </label>
          </div>
          <div class="forget">
            <a href="forget" class="icon forget" target="_blank"
              >Forget Password</a
            >
          </div>
          <p class="p">
            Click to Sign In
            <a
              style="color: rgb(255, 242, 255)"
              routerLink="/signin"
              target="_blank"
              >Sign In</a
            >
          </p>
          <div class="button">
            <!-- routerLink="/first" -->
            <button type="submit">
              <input type="button" value="Login"  />
            </button>
          </div>
        </form>
        <!-- </form> -->
      </div>
    </div>
  </section>
  
