.recipe{
    margin-left: 25px;
    min-width: 450px;
    min-height: 100%;
    
    
}
.menu-wrapper{
   margin-left: 55px;
    display: flex;
    justify-content: flex-end;
}
#recipe{
    display: flex;
    justify-content: center;
}

.recipe {
    padding: 10px;
    
}

.recipe p {
    margin-left: 1px;
}

table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }