<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-dialog-content>
      
      <h2 mat-dialog-title *ngIf="!data.id"> Add Category</h2>
      <h2 mat-dialog-title *ngIf="data.id">Edit Category</h2> 
      <mat-form-field appearance="outline">
          <mat-label >Menu</mat-label>
          <input type="text"  matInput name="name" required [(ngModel)]="category.menu">
      </mat-form-field> 
      <br>
      <mat-form-field appearance="outline">
        <mat-label >Name</mat-label>
        <input type="text"  matInput name="name" required [(ngModel)]="category.name">
    </mat-form-field> 
      <br />
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-raised-button color="primary" >save</button>
      <a mat-raised-button color="warn"  (click)="close()">close</a>
    </mat-dialog-actions>
  </form>
  

